<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes do Usuário</title>
    <link rel="icon" href="./img/favicon-32x32.png" type="image/x-icon">

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background-color: #193361;
            color: #ffffff;
        }

        .container {
            max-width: 900px;
            margin: 5% auto;
            background-color: #193361;
            padding: 20px;
            border-radius: 8px;
        }

        h2 {
            color: #ffffff;
            font-size: 32px;
            text-align: center;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        label {
            font-weight: 500;
            color: #ffffff;
            display: block;
            margin-bottom: 5px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            background-color: #ffffff;
            color: #000000;
            border: 1px solid #ffffff;
            border-radius: 4px;
            margin-bottom: 15px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .form-row {
            display: flex;
            justify-content: space-between;
            gap: 15px;
        }

        
        .form-group {
            margin-bottom: 15px;
            flex: 1;
        }


        .foto-container {
            display: flex;
            justify-content: center;
        }

        .fotoUsuario {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }

        .btn-primary {
            background-color: #2d4e88;
            color: #ffffff;
            padding: 10px 20px;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .btn-primary:hover {
            background-color: #ffffff;
            color: #2d4e88;
        }

        .delete-button {
            background-color: #2d4e88;
            color: #ffffff;
            padding: 10px 20px;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .delete-button:hover {
            background-color: #ffffff;
            color: #2d4e88;
        }

        footer {
            padding: 0%;
        }

        /* Media query for smaller screens */
        @media (max-width: 476px) {
            h2 {
                font-size: 28px;
            }
        }
    </style>
</head>

<header>
    <%- include('./navbar.ejs', { activePage: 'infoUsuarioAdm' }) %>
</header>

<body>
    <div class="container">
        <h2>Informações do Usuário</h2>
        <form id="infoUsuario" method="post" action="/editarUsuarioAdm/<%= usuario.cod_usuario %>">
            <div class="form-group">
                <!-- <label for="foto">Foto do Usuário:</label>
                <div class="foto-container mb-3">
                    <% if (foto_perfil) { %>
                        <img id="fotoUsuario" class="fotoUsuario" src="data:image/jpeg;base64,<%= foto_perfil %>"
                            alt="Foto do Usuário" />
                        <% } else { %>
                            <p>Não há foto de usuário disponível.</p>
                            <% } %>
                </div> -->
            </div>

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="<%= usuario.nome %>" required>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" value="<%= usuario.cpf %>" required>
                </div>
                <div class="form-group">
                    <label for="celular">Telefone:</label>
                    <input type="text" class="form-control" id="celular" name="celular" value="<%= usuario.celular %>"
                        required>
                </div>
            </div>

            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="email" name="email" value="<%= usuario.email %>" required>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" value="<%= usuario.cidade %>"
                        required>
                </div>
                <div class="form-group">
                    <label for="bairro">Bairro:</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" value="<%= usuario.bairro %>"
                        required>
                </div>
            </div>

            <div class="form-group">
                <label for="rua">Rua:</label>
                <input type="text" class="form-control" id="rua" name="rua" value="<%= usuario.rua %>" required>
            </div>

            <div class="form-group">
                <label for="numero">Número:</label>
                <input type="text" class="form-control" id="numero" name="numero" value="<%= usuario.numero %>"
                    required>
            </div>

            <div class="form-group">
                <label for="complemento">Complemento:</label>
                <input type="text" class="form-control" id="complemento" name="complemento"
                    value="<%= usuario.complemento %>">
            </div>

            <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" class="form-control" id="cep" name="cep" value="<%= usuario.cep %>" required>
            </div>

            <div class="form-group">
                <label for="turma">Turma:</label>
                <select id="turma" class="form-control" name="turma" required>
                    <% turmas.forEach((turma)=> { %>
                        <option value="<%= turma.cod_turma %>" <%=turma.cod_turma===usuario.cod_turma ? 'selected' : ''
                            %>><%= turma.nome_turma %>
                        </option>
                        <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="camiseta">Camiseta:</label>
                <select id="camiseta" class="form-control" name="camiseta" required>
                    <% camisetas.forEach((camiseta)=> { %>
                        <option value="<%= camiseta.cod_camiseta %>" <%=camiseta.cod_camiseta===usuario.cod_camiseta
                            ? 'selected' : '' %>><%= camiseta.modelo_camiseta %>
                        </option>
                        <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="senha">Senha inicial:</label>
                <input type="password" class="form-control" id="senha" name="senha" value="<%= usuario.senha %>"
                    required>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="data_inscricao">Data da inscrição:</label>
                    <input type="date" class="form-control" id="data_inscricao" name="data_inscricao"
                        value="<%= usuario.data_inscricao %>" required>
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo:</label>
                    <select id="cargo" class="form-control" name="cargo" required>
                        <% cargos.forEach((cargo)=> { %>
                            <option value="<%= cargo.cod_cargo %>" <%=cargo.cod_cargo===usuario.cod_cargo ? 'selected'
                                : '' %>><%= cargo.nome_cargo %>
                            </option>
                            <% }); %>
                    </select>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">Salvar</button>
                <form action="/excluirUsuarioAdm/<%= usuario.cod_usuario %>" method="POST" style="display: inline;">
                    <button type="submit" class="delete-button">Excluir</button>
                </form>
            </div>
        </form>
    </div>

    <footer>
        <%- include('./footer.ejs', { activePage: 'solicitacaosAluno' }) %>
    </footer>
</body>

</html>