<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" href="./img/favicon-32x32.png" type="image/x-icon">
    <style>
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url('./img/foto_fundo.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            overflow-x: hidden;
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        .container {
            min-height: calc(100vh - 60px);
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 70px;
            z-index: 1;
        }

        .titulo {
            border-bottom: 3px solid white;
            margin-bottom: 20px;
            padding: 24px;
            text-align: center;
            color: #fff;
        }

        .titulo h1 {
            margin: 0;
            font-weight: bold;
            font-size: 36px;
        }

        .botao-indicacao-pesquisa {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .adicionar-usuario {
            height: 50px;
            font-size: 20px;
            padding: 2px 20px;
            background: none;
            color: #fff;
            border-radius: 10px;
            border: 2px solid #ffffff;
            transition: 0.6s;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .adicionar-usuario:hover {
            background-color: #2d3f52;
            color: #fff;
            border: 2px solid white;
        }

        .barra-pesquisa {
            display: flex;
            align-items: center;
        }

        .barra-pesquisa input {
            padding: 25px;
            border-radius: 5px 0 0 5px;
            border: none;
            width: 200px;
            height: 30px;
            font-size: 20px;
        }

        .caixa-icone-pesquisa {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: rgb(151, 151, 151);
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border: none;
        }

        .caixa-icone-pesquisa i {
            color: #ffffff;
        }

        .caixa-icone-pesquisa:hover {
            background-color: rgb(94, 94, 94);
        }

        .lista-usuario {
            margin-bottom: 10px;
            background-color: #ffffff;
            color: #003366;
            padding: 15px;
            border-radius: 5px;
            display: flex; /* Adiciona flex */
            justify-content: space-between; /* Alinha os itens com espaço entre */
            align-items: center; /* Centraliza verticalmente */
            position: relative;
        }

        .botao-ver {
            background-color: #003366;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .titulo-usuario {
            font-weight: bold;
            font-size: 18px;
        }

        .usuario-item {
            color: #2d3f52;
            font-size: 15px;
            margin-right: 10px; /* Adiciona margem para espaçar os itens */
        }

        .botao-ver:hover {
            background-color: #002244;
        }

        .sem-resultados {
            text-align: center;
            color: #ffffff;
        }

        @media (max-width: 768px) {
            .botao-indicacao-pesquisa {
                flex-direction: column;
                margin-top: 20px;
            }

            .barra-pesquisa {
                margin-top: 10px;
            }

            .adicionar-usuario {
                width: 100%;
            }

            .barra-pesquisa input {
                width: calc(100% - 50px);
                font-size: 14px;
            }

            .lista-usuario {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        @media (max-width: 480px) {
            .titulo h1 {
                font-size: 28px;
            }

            .adicionar-usuario {
                font-size: 16px;
                padding: 5px 15px;
            }

            .barra-pesquisa input {
                font-size: 14px;
            }
        }
    </style>
</head>

<body>
    <header>
        <%- include('./navbar.ejs', { activePage: 'usuariosAdm' }) %>
    </header>

    <div class="container">
        <div class="titulo">
            <h1>Usuários</h1>
        </div>
        <div class="botao-indicacao-pesquisa">
            <form action="/cadastrarUsuarioAdm" method="GET">
                <button class="adicionar-usuario" id="adicionar-usuario">Cadastrar Usuário</button>
            </form>
            <form action="/pesquisarUsuariosAdm" method="GET">
                <div class="barra-pesquisa">
                    <input type="text" id="barra-pesquisa" name="pesquisa" placeholder="Pesquisar">
                    <button type="submit" class="caixa-icone-pesquisa">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <% if (usuario.length > 0) { %>
            <% usuario.forEach(usuario => { %>
                <div class="lista-usuario">
                    <div>
                        <span class="titulo-usuario">
                            <%= usuario.nome %>
                        </span>
                        <div class="usuario-item">
                            <span class="usuario-details">
                                CPF: <%= usuario.cpf %>
                            </span>
                        </div>
                        <div class="usuario-item">
                            <span class="usuario-details">
                                Data de Inscrição: <%= formatarData(usuario.data_inscricao) %>
                            </span>
                        </div>
                    </div>
                    <form action="/infoUsuariosAdm" method="GET">
                        <input type="hidden" name="cod_usuario" value="<%= usuario.cod_usuario %>">
                        <button class="botao-ver" type="submit">Detalhes</button>
                    </form>
                </div>
            <% }); %>
        <% } else { %>
            <div class="sem-resultados">
                <p>Nenhuma ocorrência encontrada.</p>
            </div>
        <% } %>
    </div>

    <footer>
        <%- include('./footer.ejs', { activePage: 'materiaisAluno' }) %>
    </footer>

    <% function formatarData(data) { %>
        <% const date = new Date(data); %>
        <% const dia = String(date.getDate()).padStart(2, '0'); %>
        <% const mes = String(date.getMonth() + 1).padStart(2, '0'); %>
        <% const ano = date.getFullYear(); %>
        <%= `${dia}/${mes}/${ano}` %>
    <% } %>
</body>

</html>